;; -*- mode: scheme; -*-

;; Template for a Guix operating system using the Asahi Linux edge kernel.

(use-modules (asahi guix initrd))
(use-modules (asahi guix packages linux))
(use-modules (asahi guix system base))

(asahi-operating-system
 #:esp-uuid "41F0-16FF"
 #:initrd-modules asahi-initrd-modules-edge
 #:kernel asahi-linux-edge)
