;; -*- mode: scheme; -*-

;; Template for an Asahi Guix operating system with the KDE Plasma desktop.

(use-modules (asahi guix systems plasma)
             (gnu))

(operating-system
  (inherit asahi-plasma-os)
  (file-systems (cons* (file-system
                         (device (uuid "86E8-4498" 'fat32))
                         (mount-point "/boot/efi")
                         (needed-for-boot? #t)
                         (type "vfat"))
                       (file-system
                         (device (file-system-label "asahi-guix-root"))
                         (mount-point "/")
                         (needed-for-boot? #t)
                         (type "btrfs"))
                       %base-file-systems)))
