;; -*- mode: scheme; -*-

;; This is a base operating system configuration template for Guix
;; systems using the Asahi Linux kernel.

(use-modules (asahi guix system base))

(asahi-operating-system #:esp-uuid "41F0-16FF")
