;; -*- mode: scheme; -*-

;; This is a base operating system configuration template for Guix
;; systems using the Asahi Linux edge kernel.

(use-modules (asahi guix initrd))
(use-modules (asahi guix packages linux))
(use-modules (asahi guix system base))

(make-operating-system
 #:efi-uuid "9FBE-130E"
 #:initrd-modules asahi-initrd-modules-edge
 #:kernel asahi-linux-edge)
